<html>
    <head>
        <title>List Rendering</title>
    </head>
    <body>
        <ul id="example1">
            <li v-for="(item,index) in items">
                {{index}} - {{ item.message }}
            </li>
        </ul>
        <ul id="example2">
            <li v-for="(value,name,index) in object">
              {{index+1}}. {{name}} : {{value}} 
            </li>
        </ul>
        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</html>